<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-practice1></app-practice1> -->
<!-- <app-todo1></app-todo1> -->
<!-- <app-todo-layout></app-todo-layout> -->  <!--Input Output-->
<!-- <app-template-forms></app-template-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->




<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <app-registration [registrationFlagInput]="loginFlag" (registerFlagOutput)="toggleForm($event)"></app-registration>
      <app-login [loginFlagInput]="loginFlag" (loginFlagOutput)="toggleForm($event)"></app-login>
    </div>
  </div>
</div>

