<div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <!-- <div id="first">
          <div class="myform form ">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h1>Login</h1>
              </div>
            </div>
            <form action="" name="login">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  aria-describedby="emailHelp"
                  placeholder="Enter Password"
                />
              </div>
              <div class="form-group">
                <p class="text-center">
                  By signing up you accept our <a href="#">Terms Of Use</a>
                </p>
              </div>
              <div class="col-md-12 text-center ">
                <button
                  type="submit"
                  class=" btn btn-block mybtn btn-primary tx-tfm"
                >Login
                </button>
              </div>
              <div class="col-md-12 ">
                <div class="login-or">
                  <hr class="hr-or" />
                  <span class="span-or">or</span>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <p class="text-center">
                  <a href="javascript:void();" class="google btn mybtn"
                    ><i class="fa fa-google-plus"> </i> Signup using Google
                  </a>
                </p>
              </div>
              <div class="form-group">
                <p class="text-center">
                  Don't have account? <a href="#" id="signup">Sign up here</a>
                </p>
              </div>
            </form>
          </div>
        </div> -->
       <div id="second">
          <div class="myform form ">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h1>Signup</h1>
              </div>
            </div>
            <form  [formGroup]="registration">
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input
                  type="text"
                  name="firstname"
                  class="form-control"
                  id="firstname"
                  placeholder="Enter Firstname"
                  formControlName="firstname"
                />
                <span class="has-error" *ngIf="form.firstname.errors?.required">Please enter Firstname</span>
                <span class="has-error" *ngIf="form.firstname.errors?.minlength">Firstname length atleast 3 characters</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input
                  type="text"
                  name="lastname"
                  class="form-control"
                  id="lastname"
                  placeholder="Enter Lastname"
                  formControlName="lastname"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter email"
                  formControlName="emailid"
                />
                <span class="has-error" *ngIf="form.emailid.errors?.email">Enter valid email Address</span>
              </div>
              
              <div formGroupName="newPassword">
                <div class="form-group">
                  <label for="">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter New Password"
                    formControlName="npassword"
                  />
                  <span class="has-error" *ngIf="form.newPassword.controls.npassword.errors?.required">Enter Password atleast 8 - 15 characters</span>
                  <span class="has-error" *ngIf="form.newPassword.controls.npassword.errors?.pattern">Pattern Not Match</span>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter Confirm Password"
                    formControlName="cpassword"
                  />
                  <span class="has-error" *ngIf="form.newPassword.controls.cpassword.errors?.required">Enter Password atleast 8 - 15 characters</span>
                  <span class="has-error" *ngIf="form.newPassword.controls.cpassword.errors?.pattern">Pattern Not Match</span>
                  <span class="has-error" *ngIf="form.newPassword.controls.cpassword.errors?.mustMatch">Confirm Password should be same as new password</span>
                </div>
              </div>
              <div class="col-md-12 text-center mb-3">
                <button
                  type="submit" (click)="submitForm()" [disabled]="!registration.valid"
                  class=" btn btn-block mybtn btn-primary tx-tfm"
                >Register
                </button>
                <button
                type="submit" (click)="resetForm()"
                class=" btn btn-block mybtn btn-dark  tx-tfm"
              >Reset
              </button>
              </div>
              <div class="col-md-12 ">
                <div class="form-group">
                  <p class="text-center">
                    <!-- <a href="javascript:;" id="signin" (click)="submitForm()">Already have an account?</a> -->

                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
