.form-control{ border-radius: 0; position: relative;}
.form-control:focus{ box-shadow: none !important;}
.ng-invalid{ border-color:red;}
.form-control + .has-error{ position: relative;}
.has-error{ position: absolute; bottom:-2px; left: 0; color: darkred; }