<div id="first" *ngIf="!loginFlagInput">
          <div class="myform form ">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h1>Login</h1>
              </div>
            </div>
            <form [formGroup]="login">
              <div class="form-group">
                <label for="">Email address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  [class.invalid-border]="form.email.invalid && submitted"
                  placeholder="Enter email"
                  formControlName="email"
                />
                <div class="showError" *ngIf="form.email.invalid && submitted">
                  <span class="has-error" *ngIf="form.email.errors?.required">Enter email Address</span>
                </div>
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  [class.invalid-border]="form.password.invalid && submitted"
                  placeholder="Enter Password"
                  formControlName="password"
                />
                <div class="showError" *ngIf="form.password.invalid && submitted">
                    <span class="has-error" *ngIf="form.password.errors?.required">Enter Password</span>
                  </div>
              </div>
              <div class="col-md-12 text-center ">
                <button
                  type="submit"
                  class=" btn btn-block mybtn btn-primary tx-tfm" (click)="loginSubmit($event)"
                >Login
                </button>
              </div>
              <div class="col-md-12 ">
                <div class="login-or">
                  <hr class="hr-or" />
                  <span class="span-or">or</span>
                </div>
              </div>
              <div class="form-group">
                <p class="text-center">
                  Don't have account? 
                  <a href="javascript:;" id="signup" (click)="togglecomp()">Sign up here</a>
                  <!-- <button (click)="showToggle()">Sign up here</button> -->
                </p>
              </div>
            </form>
          </div>
        </div>